#resource
{
	width: 600px;
	margin: 0 auto;
	margin-bottom: 10px;
	padding: 5px;
}

#property
{
	display: block;
	margin-bottom: 5px;
}

label
{
	color: #005500;
	margin-right: 5px;
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
	font-size: 14px;
}

#value
{
	display: inline-block;
	color:black;
	font-family: Verdana, Georgia;
	font-size: 13px;
}

.thumbnail
{
	margin: auto;
}

.thumbnail img
{
	height: 150px;
	width: 150px;
	border-style: solid;
	border-width: medium;
}

